		<!-- Tarefa 9: Meu primeiro HTML -->
		<!-- Helena Petruz -->

<!DOCTYPE html>
<html>
<head>
	<lang = "pt-br">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="style.css" type="text/css" rel="stylesheet">

	<title>Meu primeiro site</title>
</head>
<body>
	<div id="titulo"><h1>TÍTULO PRINCIPAL DO WEBSITE</h1></div>
	
	<div id="pagina">
	
	<section>
		<div class="conteudo">
		<h2>Título da primeira seção</h2>

		<p>Parágrafo descritivo
		<br>Segunda linha do parágrafo
		</p>

		<p>Referência para os <a href="https://developer.mozilla.org/en-US/docs/Web/HTML">elementos do html</a></p>
	</div>
	</section>

	<section>
		<div class="conteudo">
		<h2>Título da segunda seção</h2>
		<p>Imagem da seção 2</p>
		<figure>
			<img src="escolaDeInverno.png">
		</figure>
		</div>
	</section>

	<section>
		<div class="conteudo">
		<h2>Título da terceira seção</h2>
		<h3>Lista de itens</h3>

		<ul>
			<li>Item 1</li>
			<li>Item 2</li>
			<li>Item 3</li>
		</ul>

		<h3>Lista ordenada</h3>

		<ol>
			<li>Item 1</li>
			<li>Item 2</li>
			<li>Item 3</li>
		</ol>
	</div>
	</section>

	<section>
		<div class="conteudo">
		<h2>T´tulo da quarta seção</h2>
		<h3>Minha tabela</h3>

		<table>
			<tr>
				<th>Coluna 1</th>
				<th>Coluna 2</th>
				<th>Coluna 3</th>
			</tr>
			<tr>
				<td>Dados coluna 1</td>
				<td>Dados coluna 2</td>
				<td>Dados coluna 3</td>
			</tr>
			<tr>
				<td>Dados coluna 1</td>
				<td>Dados coluna 2</td>
				<td>Dados coluna 3</td>
			</tr>
			<tr>
				<td>Dados coluna 1</td>
				<td>Dados coluna 2</td>
				<td>Dados coluna 3</td>
			</tr>
		</table>
	</div>
	</section>

	<section>
		<div class="conteudo">
		<h2>Título da quinta seção</h2>
		<h3>Formulário</h3>

		<!-- Isto é um comentário! (não aparece lá no site) -->

		<form>
			<label for="fname">Nome</label>
			<input id="fname" type="text"><br><br>
			<label for="lname">Sobrenome</label>
			<input id="lname" type="text"><br><br>

			<label for="state">Estado</label>
			<select id="state">
				<option>SP</option>
				<option>MG</option>
				<option>PA</option>
			</select><br><br>
		</form>

			<button>Enviar</button><br><br><br>
		</div>
	</section>

	
		<div>
		<footer>Escola de Inverno em Programação para meninas</footer>
	</div>

		
		</div>
</body>
</html>