<!DOCTYPE html>
<html>
<head>
	<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Login</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'login.css' %}">
    </head>    
</head>
<body>
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Log In</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Entrar</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">

            </small>
        </div>
    </div>
{% endblock content %}
</body>
</html>